body {
	margin: 0;
}
header, footer, main {
	padding: 1em;
	border: 0 solid olivedrab;
}
header, footer {
	border: 0 solid olivedrab;
	background-color: palegreen;
}
header {
	border-bottom-width: 1px;
}
footer {
	position: absolute;
	border-top-width: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}